<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzz.SpaceShooter2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />
    <!-- android:sharedUserId="android.uid.system" -->


    <!--
       自启动
       <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- .接收启动完成的广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity
            android:name="com.zzz.SpaceShooter2.MainActivity"
            android:configChanges="screenSize|touchscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

<!--                <category android:name="android.intent.category.HOME" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>